<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>微笑</key>
		<string>Expression_1@2x</string>
		<key>Expression_2@2x</key>
		<string></string>
		<key>Expression_3@2x</key>
		<string></string>
		<key>Expression_4@2x</key>
		<string></string>
		<key>Expression_5@2x</key>
		<string></string>
		<key>New item - 5</key>
		<string></string>
		<key>New item - 6</key>
		<string></string>
		<key>New item - 7</key>
		<string></string>
		<key>New item - 8</key>
		<string></string>
		<key>New item - 9</key>
		<string></string>
		<key>New item - 10</key>
		<string></string>
		<key>New item - 11</key>
		<string></string>
		<key>New item - 12</key>
		<string></string>
		<key>New item - 13</key>
		<string></string>
		<key>New item - 14</key>
		<string></string>
		<key>New item - 15</key>
		<string></string>
		<key>New item - 16</key>
		<string></string>
		<key>New item - 17</key>
		<string></string>
	</dict>
</array>
</plist>
